<div class="container form-container">
  <div class="admin-title">
    <h2>Codelabs Admin</h2>
    <a  [routerLink]="['/admin/create']" class="nav-link">New codelab</a>
  </div>
  <div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Codelab Title</th>
                <th scope="col">Author</th>
                <th scope="col">Operations</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let codelab of codelabs">
                <th scope="row">{{ codelab.title }}</th>
                <td>{{ codelab.author }}</td>
                <td>
                  <a [routerLink]="['/admin/edit', codelab._id]">Edit</a> | 
                  <a href="#" (click)="deleteCodelab($event, codelab._id)">Delete</a>
                </td>
              </tr>
              </tbody>
            </table>
    </div>
  </div>
</div>