<div class="jumbotron">
  <h1 class="display-5">Welcome to Gorilla Codelabs</h1>
  <p class="lead">Gorilla Codelabs provide a guided, tutorial, hands-on coding experience. 
    Most codelabs will step you through the process of building a small application, 
    or adding a new feature to an existing application. They cover a wide range of topics such as 
    Web, Back End development, mobile, cloud, etc.</p>
  <hr class="my-4">
  <p>Want to contribute with a Codelab?</p>
  <p class="lead">
    <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
  </p>
</div>